



<div class="row">
    <h1>Cup Of Joe</h1>
    <form action="/" method="POST">
        <div class="col-12">
            <div class="userrow">
                <div class="user">
                    <span>
                        Username:
                    </span>
                    <span>
                        <input type="text" id="textTem" class="user" name="user" value="" placeholder="Waiter"
                            pattern='[A-Za-z\\s]*'>
                    </span>
                    <span>
                        <button type="submit" name="listuser" class="clicked" value="waiterName">Shift
                            Selection</button>

                    </span>
                </div>
            </div>
        </div>
    </form>
