   <div class="row">
        <div class="col-12">
            <h1>Waiter Roster</h1>

<table id="waiterTable">
    <tr>
        <th>Waiters Name</th>
        <th>Days Working</th>
        
    </tr>
    {{#each shiftdays}}
    <tr>
        <td>{{waiter}}</td>
        <td>{{test}}</td>
    </tr>
    {{/each}}
</table>
        </div>
    </div>