<form action="/waiters" method="GET">

    <div class="col-12">
        <h1>Waiters Roster</h1>
        <div class="days">
            <table id="waiterTable">
                <tr>
                    <th>Weekday</th>
                    <th>Waiters working</th>
                </tr>
                {{#each actions}}
                <tr>
                    <td>{{names}}</td>
                    <td>{{day}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</form>