<form action="/waiters" method="GET">

    <div class="col-12">
        <h1>Waiters Roster</h1>
        <div class="days">
            <table id="waiterTable">
                <tr>
                    <th>Weekday</th>
                </tr>
                <tr>
                    {{#each weekdays}}
                    <td>{{weekday}}</td>
                    <td>{{waiter}}</td>
                    {{/each}}
                </tr>

            </table>
        </div>
    </div>
</form>