body{ 
    background-image: url(coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    h1{
        margin-left: 10em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

.wait{
    margin-left: 10em; 
    margin-bottom: 3em; 
    font-size: 1.5em; 
}
span{
    color: black;
}
.days{
    color: black;
    font-size: 1.3em;
}
input[type=checkbox]{
    width: 2em;
    height: 2em;
    }
 .clicked{
    /* display: block; */
    font-size: 1em;
    color: black;
    border-radius: 0.3em;
    background-color: darkcyan;
    }
    .schedule{
        color: black;
        float: left;
        font-size: 1.5em;
        padding: 2px;
        list-style: none;
        margin: 10px; 
    }
    .bookeddays{
        color: black;  
        font-weight: bold;
        font-size: 1.5em;
        margin-top: 5em;
        margin-bottom: 5em;
    }
   #waiterTable th{
    padding: 1em;
    font-weight: bold;
    color: black; 
    font-size: 1.5em;
    text-align: left;
    border-collapse: collapse;
   }
   h1{
    color: black;    
   }
 
   